.Header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 10px 0;
  background-color: #72355a;
  box-shadow: 1px 1px 5px rgb(56, 4, 56);
}
.Header p {
  font-size: 1.5rem;
  color: cornsilk;
}
