.Footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #424242;
  box-shadow: 1px 1px 5px #333333;
  padding: 10px 0;
}
.Footer p {
  font-size: 1rem;
  font-weight: 200;
  color: #efefef;
}
Footer .madeBy {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.Footer p > .org {
  color: yellow;
}
